# Purpose

This file was used to label the audio data based on averaged static annotations and Russel's V-A model.

In [ ]:
## Use the account 
## Email: arvind.final.dissertation@gmail.com
## Password: final paper

from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_csv("/content/drive/My Drive/Datasets/DEAM/static_annotations_averaged_songs_1_2000.csv")

In [ ]:
v_median = df1[" valence_mean"].median()
a_median = df1[" arousal_mean"].median()

In [ ]:
df1["Mood"] = 0*df1.shape[0]

In [ ]:
df1.keys()

Index(['song_id', ' valence_mean', ' valence_std', ' arousal_mean',
       ' arousal_std', 'Mood'],
      dtype='object')

In [ ]:
for i in range(df1.shape[0]):
# print(df1[" valence_mean"][i])
  if (df1[" valence_mean"][i] > v_median and df1[" arousal_mean"][i] > a_median):
    df1["Mood"][i] = "Happy"
  elif (df1[" valence_mean"][i] < v_median and df1[" arousal_mean"][i] < a_median):
    df1["Mood"][i] = "Sad"
  elif (df1[" valence_mean"][i] > v_median and df1[" arousal_mean"][i] < a_median):
    df1["Mood"][i] = "Relaxed"
  if (df1[" valence_mean"][i] < v_median and df1[" arousal_mean"][i] > a_median):
    df1["Mood"][i] = "Angry"

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df1

      song_id   valence_mean  ...   arousal_std     Mood
0           2            3.1  ...          0.63      Sad
1           3            3.5  ...          1.62      Sad
2           4            5.7  ...          1.63    Happy
3           5            4.4  ...          1.85    Angry
4           7            5.8  ...          1.69    Happy
...       ...            ...  ...           ...      ...
1739     1996            3.9  ...          2.21    Angry
1740     1997            5.3  ...          1.14  Relaxed
1741     1998            6.4  ...          1.60    Happy
1742     1999            4.6  ...          1.80    Angry
1743     2000            5.8  ...          1.67    Happy

[1744 rows x 6 columns]

In [ ]:
df1.Mood.value_counts()

Happy      634
Sad        623
Relaxed    207
Angry      200
0           80
Name: Mood, dtype: int64

In [ ]:
df2 = pd.read_csv("/content/drive/My Drive/Datasets/DEAM/static_annotations_averaged_songs_2000_2058.csv")
df2["Mood"] = 0*df2.shape[0]

for i in range(df2.shape[0]):
# print(df[" valence_mean"][i])
  if (df2[" valence_mean"][i]>5.0 and df2[" arousal_mean"][i]>5.0):
    df2["Mood"][i] = "Happy"
  elif (df2[" valence_mean"][i]<5.0 and df2[" arousal_mean"][i]<5.0):
    df2["Mood"][i] = "Sad"
  elif (df2[" valence_mean"][i]>5.0 and df2[" arousal_mean"][i]<5.0):
    df2["Mood"][i] = "Relaxed"
  if (df2[" valence_mean"][i]<5.0 and df2[" arousal_mean"][i]>5.0):
    df2["Mood"][i] = "Angry"

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [ ]:
df2.keys()

Index(['song_id', ' valence_mean', ' valence_std', ' valence_ max_mean',
       ' valence_max_std', ' valence_min_mean', ' valence_min_std',
       ' arousal_mean', ' arousal_std', ' arousal_max_mean',
       ' arousal_max_std', ' arousal_min_mean', ' arousal_min_std', 'Mood'],
      dtype='object')

In [ ]:
df2= df2[["song_id", " valence_mean", " arousal_mean", "Mood"]]

In [ ]:
df2

    song_id   valence_mean   arousal_mean     Mood
0      2001           3.20           6.60    Angry
1      2002           6.40           5.20    Happy
2      2003           5.40           4.60  Relaxed
3      2004           5.00           4.80        0
4      2005           3.80           5.20    Angry
5      2006           5.00           3.20        0
6      2007           3.40           4.40      Sad
7      2008           5.60           3.60  Relaxed
8      2009           5.20           4.20  Relaxed
9      2010           6.00           4.80  Relaxed
10     2011           4.20           5.00        0
11     2012           3.17           5.17    Angry
12     2013           5.40           5.60    Happy
13     2014           3.00           6.60    Angry
14     2015           6.60           5.40    Happy
15     2016           7.20           5.60    Happy
16     2017           6.67           6.50    Happy
17     2018           6.50           6.33    Happy
18     2019           6.80           6.80    Happy
19     2020           6.80           5.80    Happy
20     2021           4.20           4.40      Sad
21     2022           3.80           4.40      Sad
22     2023           5.60           3.00  Relaxed
23     2024           6.40           4.40  Relaxed
24     2025           6.00           4.80  Relaxed
25     2026           5.60           4.00  Relaxed
26     2027           5.80           5.40    Happy
27     2028           3.40           6.20    Angry
28     2029           4.17           4.00      Sad
29     2030           4.20           6.20    Angry
30     2031           4.60           3.40      Sad
31     2032           5.20           4.40  Relaxed
32     2033           3.17           6.83    Angry
33     2034           6.20           4.60  Relaxed
34     2035           3.40           4.60      Sad
35     2036           3.83           4.67      Sad
36     2037           6.40           4.40  Relaxed
37     2038           4.00           3.80      Sad
38     2039           5.40           4.60  Relaxed
39     2040           3.60           7.00    Angry
40     2041           4.40           3.00      Sad
41     2042           4.80           4.60      Sad
42     2043           5.60           4.40  Relaxed
43     2044           6.40           5.20    Happy
44     2045           4.80           3.20      Sad
45     2046           5.50           5.17    Happy
46     2047           6.20           5.00        0
47     2048           6.20           3.60  Relaxed
48     2049           4.40           3.80      Sad
49     2050           4.40           3.60      Sad
50     2051           3.20           4.60      Sad
51     2052           3.20           5.20    Angry
52     2053           3.80           3.80      Sad
53     2054           5.40           3.60  Relaxed
54     2055           5.00           5.20        0
55     2056           5.00           4.60        0
56     2057           3.17           6.83    Angry
57     2058           3.80           5.80    Angry

In [ ]:
df = pd.concat([df1, df2])

In [ ]:
df.Mood.value_counts()

Happy      645
Sad        638
Relaxed    222
Angry      211
0           86
Name: Mood, dtype: int64

In [ ]:
no_mood = df[df.Mood == 0]
df = df[df.Mood != 0]

In [ ]:
df.Mood.value_counts()

Sad        686
Happy      594
Relaxed    211
Angry      203
Name: Mood, dtype: int64

In [ ]:
 no_mood.keys()

In [ ]:
df.keys()

Index(['song_id', ' valence_mean', ' valence_std', ' arousal_mean',
       ' arousal_std', 'Mood'],
      dtype='object')

In [ ]:
df.drop([6,7,8,9,10,11,12,13,14])

In [ ]:
df.to_csv("merged.csv")